<template name='userMenu'>
  {{#if currentUser}}
    <div class='mod-dropdown-trigger g-header-user-menu user-menu'>
      {{#with notificationCount}}
        {{#if count}}
          <span class='notification-count'>{{ count }}</span>
        {{/if}}
      {{/with}}
      <span>
        {{>avatar userId=currentUser._id size='small' class='pos-inline-block' }}
        <i class='g-header-user-carat type-icon-inline icon-carat-down'></i>
      </span>
      <div class='mod-dropdown'>
        <ul class='mod-dropdown-text-link-list' role='menu' aria-labelledby='dlabel'>
          {{> userMenuListItems}}
          <li><a href='/logout'>Logout</a></li>
        </ul>
      </div>
    </div>
  {{ else }}
    <a class='account-link g-header-nav-user-sign-up sign-up' href='{{ pathFor "atSignUp" }}'>Register</a>
    <a class='account-link sign-in' href='{{ pathFor "atSignIn" }}'>Log In</a>
  {{/if}}
</template>
